@charset "utf-8";

body {
    background-color: #444444;
    min-width: 420;
}

a {
    color: yellow;
    font-weight: bold;
}

h1 {
    color: cyan;
    text-align: center;
    padding-bottom: 40px;
}

.txtUP {
    margin-top: -20px;
}

.titre {
    margin-top: 40px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.titre2 {
    margin-top: 80px;
    color: violet;
    font-weight: bold;
}

.titre3 {
    margin-top: 80px;
    color: yellow;
}

.motst {
    color: blanchedalmond;
    font-weight: bold;
}

.mots {
    color: blanchedalmond;
}

.mots2t {
    color: salmon;
    font-weight: bold;
}

.mots2 {
    color: salmon;
}

.imp{
    color: red;
    font-weight: bold;
}